
h1 {
    text-align: center;
}

.papa-bear {
    display: flex;
    border: 5px solid gray;
}

.papa-bear div {
    background-color: blanchedalmond;
    border: 5px solid black;
    height: 100px;
    flex: 1;
}

.papa-bear .two {
    flex: 2;
}

div .mini {
    background-color: silver;
    border: 2px solid black;
    margin: 23px;
    height: 50px;
    display: flex;
}

.dos {
    font-size: 25px;
    font-weight: 700;
    color: black;
    justify-content: center;
    align-items: center;
}